-r requirements.txt

Sphinx==4.3.2
bandit==1.7.2
black==22.1.0
bump2version==1.0.1
codecov==2.1.12
coverage==6.3.1
darglint==1.8.0
flake8==4.0.1
grip==4.6.0
isort==5.10.1
mypy==0.931
pep8-naming==0.12.1
pytest-aiohttp==1.0.3
pytest-cov==3.0.0
pytest-xprocess==0.18.1
pytest==6.2.5
sphinx-autodoc-typehints==1.16.0

setuptools
twine==3.8.0
wheel
