-r requirements.txt

Sphinx==3.1.2
bandit==1.6.2
black==19.10b0
codecov==2.1.8
coverage==5.2
flake8==3.8.3
grip==4.5.2
isort==5.1.0
mypy==0.782
pep8-naming==0.11.1
pytest-aiohttp==0.3.0
pytest-cov==2.10.0
pytest-xprocess==0.13.1
pytest==5.4.3
sphinx-autodoc-typehints==1.11.0

setuptools
twine==3.2.0
wheel
