name: Release to PyPi
on:
  release:
    types: [created]
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1.2.0
    - name: Set up Python 3.8
      uses: actions/setup-python@v4.6.1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
    - name: Package
      run: |
        python -m build
    - name: Upload artifacts
      uses: actions/upload-artifact@v3.1.2
      with:
        name: released_packages
        path: dist/
    - name: Publish to PyPi
      uses: pypa/gh-action-pypi-publish@v1.3.1
      with:
        user: __token__
        password: ${{ secrets.pypi_token }}
