name: Release to PyPi
on:
  release:
    types: [created]
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1.2.0
    - name: Set up Python 3.7
      uses: actions/setup-python@v2.1.1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools twine wheel
    - name: Package
      run: |
        python setup.py sdist bdist_wheel
    - name: Upload artifacts
      uses: actions/upload-artifact@v2.1.3
      with:
        name: released_packages
        path: dist/
    - name: Publish to PyPi
      uses: pypa/gh-action-pypi-publish@v1.3.1
      with:
        user: __token__
        password: ${{ secrets.pypi_token }}
